.hero {
    padding-top: 200px;
    padding-bottom: 150px;
    width: 100vw;
}

.hero_para {
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 2;
    
    animation-name: opacity;
    animation-duration: 3s;
}

.about {
    color: white;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; 
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    width: 100vw;
    padding-bottom: 50px;
}

.ft_about {
    width: 190%;
    min-width: 280px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 7;
    
    animation-name: opacity;
    animation-duration: 4s;
}

.about_para {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
}

.about_color_block {
    background-color: #3C649F;
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 10;
    z-index: -100;
    
    position: relative;
    animation-name: appear_and_move_left;
    animation-duration: 3s;
}

.where {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; 
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

.where_para {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
}

.map {
    height: 500px;
    min-width: 280px;
    color: white;
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 11;
    background-color: #3C649F;
}

#map { 
    height: 75%; 
    width: 100%; 
}

.address {
    margin-left: 10px;
    margin-top: 10px;

}

@keyframes appear_and_move_left {
    from {opacity: 0; right: -900px;}
    to {opacity: 1; right: 0px;}
}

@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media only screen and 
    (min-device-width : 768px) and 
    (max-device-width : 1024px) 
    
{   .hero {
        padding-top: 150px;
        padding-bottom: 70px;
    }
    
    .hero_para {
        grid-column-start: 2;
        grid-column-end: 9;
    }
    
    .about_color_block {
        grid-row-start: 1;
        grid-row-end: 11;
        grid-column-start: 1;
        grid-column-end: 11;
    }
    
    .ft_about {
        padding-top: 20px;
        padding-bottom: 20px;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 5;
    }
    
    .about_para {
        grid-row-start: 6;
        grid-row-end: 10;
        grid-column-start: 2;
        padding-bottom: 30px;
    }
    
    .where_para {
        grid-column-end: 5;
    }
    
    .map {
        grid-column-start: 6;
    }
}

@media only screen and 
    (min-device-width : 310px) and 
    (max-device-width : 425px) 
    
{   .hero_para {
        grid-column-start: 2;
        grid-column-end: 10;
    }
    
    .about_color_block {
        grid-row-start: 1;
        grid-row-end: 11;
        grid-column-start: 1;
        grid-column-end: 11;
    }
    
    .ft_about {
        padding-top: 20px;
        padding-bottom: 20px;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 5;
    }
    
    .about_para {
        grid-row-start: 6;
        grid-row-end: 10;
        grid-column-start: 2;
        padding-bottom: 30px;
    }
    
    .where_para {
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 3;
        padding-bottom: 30px;
    }
    
    .map {
        grid-column-start: 2;
        grid-column-end: 10;
        grid-row-start: 4;
    }
    
}