.hero {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100vw;
}

.hero_para {
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 2;
}

.download {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; 
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    height: 80vh;
}

.phone {
    width: 180%;
    min-width: 200px;
    grid-column-start: 3;
}

.download_color_block {
    z-index: -10;
    background-image: linear-gradient(to right top, #F0C22E, #FFBE5A, #FFBD85, #FFC2B0);
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 7;
    
    animation-name: appear_and_move_left;
    animation-duration: 4s;
}

.ios {
    grid-column-start: 5;
    grid-row-start: 3;
}

.android {
    grid-column-start: 6;
    grid-row-start: 3;
}

form {
    font-family: light;
    color: black;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
}

form input {
    font-family: light;
    padding-left: 5px;
    width: 150px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.query_button {
    font-weight: 800;
    cursor: pointer;
    background: #02D4AE; 
    border-radius: 8px;
    color: white; 
    border: none; 
    width: 100px; 
    height: 30px;
    text-align: center;
}

input[type=text], select {
    font-family: light;
    min-width: 200px;
    background-color: transparent;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
}

@media only screen and 
    (min-device-width : 768px) and 
    (max-device-width : 1024px)
{ 
    .hero {
        padding-bottom: 30px;
    }
    
    .download {
        height: 60vh;
    }
    
    .phone {
        grid-column-start: 2;
    }
    
    .download_color_block {
        grid-column-end: 11;
    }
    
    .ios {
        grid-column-start: 5;
        grid-row-start: 3;
    }

    .android {
        grid-column-start: 7;
        grid-row-start: 3;
    }
}

@media only screen and 
    (min-device-width : 310px) and 
    (max-device-width : 425px) 
    
{   .hero {
        padding-top: 150px;
        padding-bottom: 20px;
    }
    
    .phone {
        display: none;
    }
    
    .download_color_block {
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 9;
    }
    
    .ios {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .android {
        grid-column-start: 6;
        grid-row-start: 3;
    }
    
    form {
        grid-column-start: 2;
        grid-column-end: 9;
        grid-row-start: 5;
    }
}