.hero {
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero_para {
    color: white;
    min-width: 280px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
}

.hero_para p {
    padding-top: 10px;
    padding-bottom: 20px;  
    animation-name: opacity;
    animation-duration: 3s;
}

h1 { 
    animation-name: opacity;
    animation-duration: 3s;
}

.phone {
    padding-top: 20px;
    padding-bottom: 20px;
    grid-column-start: 6;
    grid-row-start: 2;
    grid-row-end: 7;
}

.phone_two {
    padding-top: 20px;
    padding-bottom: 20px;
    grid-column-start: 7;
    grid-row-start: 2;
    grid-row-end: 7;
}

.hero_color_block {
    background-image: linear-gradient(to right top, #02D4AE, #00B7AD, #009AA2, #007E90, #266276, #2F4858);
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 11;
    z-index: -100;
    
    position: relative;
    animation-name: appear_and_move_left;
    animation-duration: 2s;
}

@keyframes appear_and_move_left {
    from {opacity: 0; right: -900px;}
    to {opacity: 1; right: 0px;}
}

@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

.video {
    width: 100vw;
    padding-top: 80px;
    padding-bottom: 150px;
}

video {
    width: 500px;
}

.ft_video {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
}

.video_para {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 2;
}

.features {
    padding-top: 150px;
    padding-bottom: 150px;
    display: grid;
    grid-template-columns: 10% 35% 10% 35% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 80vw;
    background-image: linear-gradient(to right top, #02D4AE, #00B7AD, #009AA2, #007E90, #266276, #2F4858);
}

.feature {
    padding-bottom: 50px;
}

.feature_1 {
    color: white;
    grid-column-start: 2;
    grid-row-start: 2;
}

.feature_2 {
    color: white;
    grid-column-start: 4;
    grid-row-start: 2;
}

.feature_3 {
    color: white;
    grid-column-start: 2;
    grid-row-start: 4;
}

.feature_4 {
    color: white;
    grid-column-start: 4;
    grid-row-start: 4;
}

.business {
    padding-top: 120px;
    padding-bottom: 120px;
    display: grid; 
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 40% 20%;
    width: 100vw;
}

.business_para {
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
}

.cta {
    color: black;
    position: relative;
    margin: auto;
    padding: 16px 22px;
    transition: all 0.2s ease;
}
.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(2, 212, 174, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}
.cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}
.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta:hover:before {
    width: 100%;
    background: #02D4AE;
}
.cta:hover svg {
    transform: translateX(0);
}
.cta:active {
    transform: scale(0.96);
}

@media only screen and 
    (min-device-width : 768px) and 
    (max-device-width : 1024px) 
    
{   .phone {
        grid-column-start: 7;
    }

    .phone_two {
        grid-column-start: 8;
    }
    
    .video_para {
        padding-top: 80px;
        grid-column-start: 2;
        grid-column-end: 9;
        width: 80vw;
        grid-row-start: 3;
    }
    
    .features {
        padding-top: 50px;
        width: 100vw;
    }
    
    .business {
        grid-template-columns: 10% 35% 10% 35% 10%;
        grid-template-rows: 20% 20% 20% 20% 20%;
    }
    
    .business_para {
        width: 75vw;
        grid-column-start: 2;
        grid-row-start: 2;
    }
}

@media only screen and 
    (min-device-width : 310px) and 
    (max-device-width : 425px) 
    
{   .hero {
        padding-top: 20px;
        padding-bottom: 25px;
    }
    
    .hero_color_block {
        grid-column-start: 1;
    }
    
    .phone {
        display: none;
    }

    .phone_two {
        display: none;
    }
    
    .hero_para {
        padding-top: 150px;
        padding-bottom: 20px;
        width: 80vw;
        grid-column-start: 2;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 10;
    }
    
    video {
        width: 280px;
    }
    
    . video {
        padding-top: 20px;
    }
    
    .ft_video {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 10;
    }
    .video_para {
        padding-top: 80px;
        grid-column-start: 2;
        grid-column-end: 9;
        width: 80vw;
        grid-row-start: 3;
    }

    .features {
        padding-top: 50px;
        width: 100vw;
    }
    
    .feature_1 {
        width: 80vw;
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .feature_2 {
        width: 80vw;
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .feature_3 {
        width: 80vw;
        grid-column-start: 2;
        grid-row-start: 4;
    }

    .feature_4 {
        padding-top: 40px;
        width: 80vw;
        grid-column-start: 2;
        grid-row-start: 5;
    }
    
    .business {
        grid-template-columns: 10% 35% 10% 35% 10%;
        grid-template-rows: 20% 20% 20% 20% 20%;
    }
    
    .business_para {
        width: 80vw;
        grid-column-start: 2;
        grid-row-start: 2;
    }

}