* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: headers;
    src: url(/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: quotes;
    src: url(/fonts/OpenSans-Italic.ttf)
}

@font-face {
    font-family: light;
    src: url(/fonts/OpenSans-Light.ttf)
}

@font-face {
    font-family: tiempo;
    src: url(/fonts/Ftreetime-Tiempo.ttf)
}

body {
    font-family: light;
    font-weight: 200;
}

h1 {
    font-family: tiempo;
    font-size: 400%;
    margin-bottom: 5px;
}

h2 {
    font-family: tiempo;
    font-size: 180%;
    margin-bottom: 5px;
}

h3 {
    font-size: 100%;
    font-family: tiempo;
}

p {
    font-family: light;
    font-size: 120%;
}

.white {
    color: white;
}

ul {
    list-style: none;
    text-decoration: none;
    padding-bottom: 5px;
}

ul h3 {
    padding-bottom: 10px;
}

ul a {
    text-decoration: none;
    color: black;
}

a { 
    text-decoration: none;
}

.bold {
    font-weight: 1000;
    text-decoration: underline;
}

.dividing_line {
    height: 3px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dividing_line.white {
    background-color: white;
}

.logo_nav {
    width: 10%;
    min-width: 100px;
    top: 0;
    display: inline;
    position: fixed;
    margin-top: 15px;
    margin-left: 50px;
}

nav {
    background-color: white;
    margin-top: 15px;
    margin-right: 15px;
    top: 0;
    right: 0;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
    flex-flow: wrap;
    align-items: center;
    height: 50px;
    position: fixed;
    float: right;
    text-align: right;
    z-index: 100;
    
    animation-name: appear_and_move_left;
    animation-duration: 2s;
}

nav a {
    margin-left: 25px;
    color: black;
    font-size: 1em;
    letter-spacing: 5px;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    font-weight: 800;
    color: #02D4AE;
}

nav .button {
    font-weight: 400;
    margin-left: 20px;
}

.hvr-grow {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#mc_embed_signup {
    clear: left; 
    font-family: light;  
    width: 500px;
}

.button {
    background-color: #02D4AE;
    cursor: pointer;
    background: #02D4AE; 
    border-radius: 8px;
    color: black; 
    border: none; 
    width: 100px; 
    height: 30px;
    text-align: center;
    
     -webkit-appearance: none;
 }

.grid {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; 
    grid-template-rows: 20% 20% 20% 20% 20%;
}

footer {
    padding-top: 25px;
    width: 100vw;
    background-color: #EABB25;
}

.newsletter {
    grid-column-start: 2;
    grid-row-start: 2; 
    font-family: light;
}

.form_field {
    border-radius: 8px;
    height: 25px;
    font-family: light;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    height: 30px;
    padding-left: 5px;
}

.company {
    margin-bottom: 25px;
    grid-column-start: 7;
    grid-row-start: 2;
}

.resources {
    grid-column-start: 9;
    grid-row-start: 2;  
}

.social_media_footer {
    font-family: light;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E7B000;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 3;
}

.social_media_footer a {
    color: black;
    margin-right: 50px;
}

.social_media {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.privacy {
    margin-left: 35px;
}

footer a:hover {
    text-decoration: underline;
}

@keyframes appear_and_move_left {
    from {opacity: 0; right: -900px;}
    to {opacity: 1; right: 0px;}
}

@media only screen and 
    (min-device-width : 310px) and 
    (max-device-width : 425px) 
    
{   h1 {
        font-size: 300%;
    }
    
    nav {
        height: 100px;
    }
    
    .logo_nav {
        display: none;
    }
    
    .social_media_footer a {
        margin-right: 10px;
    }
    
    .newsletter {
        max-width: 280px;
    }
    
    .form_field {
        width: 270px;
    }
    
    .company {
        min-width: 150px;
        padding-top: 20px;
        margin-bottom: 25px;
        grid-column-start: 2;
        grid-row-start: 3;
        }

    .resources {
        padding-top: 20px;
        grid-column-start: 7;
        grid-row-start: 3;  
    }
    .social_media_footer {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 4;
    }
    #mc_embed_signup {
        width: 400px;
    }
}